{{#each expenseDetails}}
    <tr>
        <td>{{formattingDate date}}</td>
        <td>{{expenseID.expenseName}}</td>
        <td>{{description}}</td>
        <td>{{expenseID.expenseType}}</td>
        <td>₱{{expenseAmount}}</td>
    </tr>
{{/each}}