<title>Ingredients</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/ingredients#page-top">
                    <div class="sidebar-brand-icon"><img src="../public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS"><i class="fa fa-fw fa-store mr-2"></i>Point of Sale</a></li>
                    {{#if isAdmin}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products"><i class="fa fa-fw fa-star mr-2"></i>Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="background-color: #c64327 !important; color: #ffffff !important;" href="/supplies"><i class="fa fa-fw fa-archive mr-2"></i>Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 50px !important; height: 36px !important;" href="/supplies">Supplies</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #f47639 !important; color: #ffffff !important; padding-left: 50px !important; height: 36px !important;" href="/ingredients">Ingredients</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement"><i class="fa fa-fw fa-shopping-basket mr-2"></i>Procurement</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/expense"><i class="fa fa-fw fa-calculator mr-2"></i>Expenses</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history"><i class="fa fa-fw fa-file-alt mr-2"></i>Reports</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Ingredients</span></div>
                    <form action="/ingredients/search" method="GET" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input class="bg-light form-control border-3 small" type="text" name="searchProd" placeholder="Search for ingredients..." style="width: 350px;">
                            <div class="input-group-append">
                                <button class="btn btn-primary py-0 search-btn" type="submit"><i class="fas fa-search" style="font-size: 13px;"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="add">
                        <a href="/ingredients/add"><button type="button" class="btn btn-primary btn-sm add-btn">+ Add</button></a>
                    </div>
                </nav>
            <div class="container-fluid" style="margin-left: 225px;width: 82%;">
                <div class="col-12">
                    {{>messages}}
                    <div class="card shadow mb-3">
                        <table class="table table-hover text-center">
                            <thead style="font-size: 13px;">
                              <tr>
                                <th scope="col" class="text-left" style="width: 200px;">Ingredient Name</th>
                                <th scope="col" class="text-right" style="width: 100px">Items</th>
                                <th scope="col" class="text-left" style="padding-left: 35px; width: 95px;">Unit</th>
                                <th scope="col" class="text-right min" style="width: 100px;">Min. Stock</th>
                                <th scope="col" colspan="2">Update Inventory</th>
                              </tr>
                            </thead>
                            <tbody>
                            {{#each ingredient}}
                            <input class="tq" type="hidden" value="{{totalQuantity}}">
                            <input class="minStock" type="hidden" value="{{minStock}}">
                                <tr class="highlighttt" style="font-size: 13px;">
                                    <td class="text-left">{{ingredientName}}</td>
                                    <td class="text-right" value="{{totalQuantity}}">{{addCommas totalQuantity}}</td>
                                    <td class="text-left" style="padding-left: 35px;">{{unitID.unitName}}</td>
                                    <td class="text-right" value="{{minStock}}">{{addCommas minStock}}</td>
                                    <td style="width: 70px !important; padding-right:0px">
                                        <form action="/ingredient/update" method="POST">
                                        <input name="id" type="hidden" value="{{this._id}}">
                                        <input class="compare-inv" placeholder="Enter physical stock" type="number" name="physicalCount" min="0">
                                    </td>
                                    <td style="width: 60px !important; padding-left: 0px; padding-right:10px"><button type="submit" class="btn btn-sm btn-primary" style="height: 28px !important; font-size: 10px;">Update</button></td>
                                    </form>
                                </tr>
                            {{/each}}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/ingredients#page-top"><i class="fas fa-angle-up"></i></a></div>
</body>

<style>
    .min {
        width: 12, 5% !important;
    }
</style>
<script>
    window.onload = function() { 
        var i;
        var stock = document.getElementsByClassName("minStock");
        var stockVal = document.getElementsByClassName("minStock");
        var current = document.getElementsByClassName("tq"); 
        var currentVal = document.getElementsByClassName("tq");
        var curRow = document.getElementsByClassName("highlighttt");

        for (i = 0; i < stock.length; i++) {
            console.log(i);
            console.log("minstock " + stockVal[i].value);
            console.log("curstock " + currentVal[i].value);  
            console.log(parseInt(stockVal[i].value) + " > " + parseInt(currentVal[i].value));          
            if(parseInt(stockVal[i].value) > parseInt(currentVal[i].value)){
                curRow[i].classList.add("bg-danger", "text-white");
                
                console.log("replacing...");
            }
        }
    }
</script>
{{!-- <script src="/public/js/ingredient.js"></script> --}}
