<title>Procurement</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/procurement#page-top">
                    <div class="sidebar-brand-icon"><img src="../public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS"><i class="fa fa-fw fa-store mr-2"></i>Point of Sale</a></li>
                    {{#if isAdmin}}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/products"><i class="fa fa-fw fa-star mr-2"></i>Products</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies"><i class="fa fa-fw fa-archive mr-2"></i>Inventory</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" 
                            style="background-color: #c64327 !important; color: #ffffff !important;" href="/procurement"><i class="fa fa-fw fa-shopping-basket mr-2"></i>Procurement</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/expense"><i class="fa fa-fw fa-calculator mr-2"></i>Expenses</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history"><i class="fa fa-fw fa-file-alt mr-2"></i>Reports</a></li>
                    {{else}}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies"><i class="fa fa-fw fa-archive mr-2"></i>Inventory</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Purchases</span></div>
                    <form action="/procurement/filter" method="GET" style="display: flex; flex-direction: row;">
                        <div class="mr-3 col-xs-4 font-weight-bold"><label for="ordfromDate" class="col-form-label">From</label></div>
                        <div class="col-xs-3 date-report"><input type="date" class="form-control" name="salfromDate" id="fromDate"></div>
                        <div class="mr-3 ml-4 col-xs-4 font-weight-bold"><label for="ordToDate" class="col-form-label">To</label></div>
                        <div class="col-xs-3 date-report"><input type="date" class="form-control" name="salToDate" id="toDate"></div>
                        <div><button type="submit" class="btn btn-primary btn-sm add-btn ml-3 generate">Display</button></div>
                    </form>
                    <div class="buttons">
                        <a href="/purchase/add"><button type="button" class="btn btn-primary btn-sm add-btn">+ Add</button></a>
                        <a href="/purchase/order"><button type="button" class="btn btn-primary btn-sm ord-btn">Order</button></a>
                    </div>
            </nav>
            <div class="container-fluid" style="margin-left: 225px;width: 82%;">
                <div class="col-12">
                    {{>messages}}
                    <div class="card shadow mb-3">    
                        {{#each purchase}}
                            <button class="btn collapsible" type="button" data-toggle="collapse" data-target="content" aria-expanded="false" aria-controls="content"> Date of Purchase: {{formatDate purchaseDate}}</button>
                            <div class="content">
                                <table class="table table-hover text-center">
                                    <thead style="font-size: 13px;">
                                      <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Expiry Date</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col" style="width: 130px;">Purchase Price</th>
                                        <th scope="col" style="width: 140px;">Total Price</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {{#each purchaseDetails}}
                                            <tr style="font-size: 13px;">
                                                <td class="text-left" style="padding-left: 20px;">{{supplyName}}</td>
                                                <td>{{formattingDate expiryDate}}</td>
                                                <td>{{purchaseQty}}</td>
                                                <td class="text-right" style="padding-right: 20px;">₱{{price}}</td>
                                                <td class="text-right" style="padding-right: 40px;">₱{{subTotal}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/procurement#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/public/js/collapsibleProcurement.js"></script>
</body>