<title>Products</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/products#page-top">
                    <div class="sidebar-brand-icon"><img src="../public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS"><i class="fa fa-fw fa-store mr-2"></i>Point of Sale</a></li>
                    {{#if isAdmin}}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/products" style="background-color: #c64327 !important; color: #ffffff !important;"><i class="fa fa-fw fa-star mr-2"></i>Products</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies"><i class="fa fa-fw fa-archive mr-2"></i>Inventory</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement"><i class="fa fa-fw fa-shopping-basket mr-2"></i>Procurement</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/expense"><i class="fa fa-fw fa-calculator mr-2"></i>Expenses</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history"><i class="fa fa-fw fa-file-alt mr-2"></i>Reports</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Products</span><span class="text-primary m-0 numresults"></span></div>
                    <form action="/products/search" method="GET" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input class="bg-light form-control border-3 small" type="text" name="searchProd" placeholder="Search for products..." style="width: 430px;">
                            <div class="input-group-append">
                                <button class="btn btn-primary py-0 search-btn" type="submit"><i class="fas fa-search" style="font-size: 13px;"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="add">
                        <a href="/products/add"><button type="button" class="btn btn-primary btn-sm add-btn">+ Add</button></a>
                    </div>
                </nav>
            <div class="container-fluid" style="margin-left: 225px;width: 82%;">
                <div class="col-12">
                    {{>messages}}
                    <div class="card shadow mb-3">
                        <table class="table table-hover text-center">
                            <thead style="font-size: 13px;">
                              <tr>
                                <th scope="col" style="width: 450px;">Product Name</th>
                                <th scope="col" style="width: 280px;">Category</th>
                                <th scope="col" style="width: 140px;">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                {{#each product}}
                                    <tr style="font-size: 13px;" data-id="{{_id}}">
                                        <td class="text-left" style="padding-left: 40px;">{{prodName}}</td>
                                        <td>{{category}}</td>
                                        <td class="text-right" style="padding-right: 60px;">₱{{addZeroes prodPrice}}</td>
                                        <td style="width: 70px !important;"><a href="/products/edit/{{this._id}}"><button type="submit" class="btn btn-sm btn-primary" style="height: 28px !important; font-size: 10px;">Edit</button></a></td>
                                        <td><button type="submit" onclick="confirmDelete(this)" name="delete" class="btn btn-sm btn-primary" style="height: 28px !important; font-size: 10px;">Delete</button></td>
                                    </tr>
                                {{/each}}
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="/products#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/public/js/products.js"></script>
</body>